spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/miniDevOnTheWeb/microservicios
          default-label: main
          search-paths: configuration

server:
  port: 8080
